<div>
  <p *ngFor="let element of array">Hello from App Component</p>

  <div>
    <app-child *ngFor="let complexObject of complexObjectParameters"
               [complexObject]="complexObject"
               (bigButtonEventEmitter)="printButtonName($event)">
    </app-child>
  </div>

  <div>
    <app-child2 *ngFor="let complexObject of complexObjectParameters"
               [complexObject]="complexObject"
               (bigButtonEventEmitter)="printButtonName($event)">
    </app-child2>
  </div>

</div>

